// IMPORTS
@use "breakpoints" as bp;

// SASS Variables
$primary-cyan: hsl(180, 66%, 49%);
$cyan-light: hsl(180, 51%, 67%);

$primary-violet: hsl(257, 27%, 26%);

$secondary-red: hsl(0, 87%, 67%);

$neutral-grey: hsl(0, 0%, 90%);
$neutral-grey2: hsl(257, 7%, 63%);
$neutral-dark: hsl(255, 11%, 22%);
$neutral-darker: hsl(260, 8%, 14%);
$breakpoint-tablet: 600px;
$breakpoint-desktop: 900px;

$nav-breakpoint: 750px;

// CSS variables
//  - ROOT / deafault colors
:root {
  --neutral-text: #{$neutral-grey2};
  --headline-color: #{$neutral-darker};
  --grey-background: #{$neutral-grey};
  --icon-background: #{$primary-violet};
  --btn-primary: #{$primary-cyan};
  --btn-hover: #{$cyan-light};
  --alert-color: #{$secondary-red};

  --border-radius-small: 0.3rem;
  --border-radius-big: 0.5rem;
  --content-width: 450px;
  --card-gap: 1.5rem;
  --max-width: 1100px;
}

@mixin card-btn {
  display: block;
  width: 100%;
  border: none;
  border-radius: var(--border-radius-small);
  background-color: var(--btn-primary);
  padding: 0.6rem;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: white;
  color: var(--neutral-text);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;

  &__logo {
    background: url("images/logo.svg") no-repeat;
    width: 8rem;
    height: 2rem;

    @include bp.custom-media($nav-breakpoint) {
      margin-top: 0.5rem;
    }
  }

  &__menu-toggle {
    // outline: 1px solid red;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    fill: $neutral-grey2;
  }

  &__expandable-nav {
    @include bp.custom-media($nav-breakpoint) {
      display: none;
    }
  }
  // TABLET/DESKTOP DEVICES nav bar
}

// MOBILE/SMALL DEVICES nav bar
.nav-mobile {
  position: absolute;
  top: 2.5rem;
  right: 0;
  width: 100%;
  max-width: 400px;
  clip-path: circle(0 at 90% 1%);
  transition: clip-path 1s;

  &--active & {
    clip-path: circle(130.4% at 90% 1%);
  }

  &__container {
    margin: 1rem;
    padding: 1rem;
    background-color: $primary-violet;
    border-radius: var(--border-radius-big);
    text-align: center;
    color: white;
    font-size: 18px;
  }

  &__main-area {
    border-bottom: 1px solid $neutral-grey2;
  }
  &__link {
    margin: 1.3rem 0;
  }
}

// TABLET/DESKTOP DEVICES nav bar
.nav-regular {
  display: none;

  @include bp.custom-media($nav-breakpoint) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__main-area {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 2rem;
  }

  &__control-area {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__link {
    cursor: pointer;
    &:hover {
      color: $neutral-dark;
    }
  }
}

.main-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include bp.custom-media($breakpoint-desktop) {
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }
  &__img-container {
    // height: 350px;
    // margin-bottom: 2rem;
    overflow: hidden;
    margin-right: -1rem;
    @include bp.custom-media($breakpoint-desktop) {
      width: 50%;
      height: auto;
      overflow: visible;
    }
  }

  &__img {
    background: url("images/illustration-working.svg") no-repeat;
    background-position: left 10px center;
    background-size: cover;
    height: 350px;
    max-width: 550px;
    margin: 0 auto;
    @include bp.custom-media(550px) {
      background-size: contain;
      background-position: center;
    }

    @include bp.custom-media($breakpoint-desktop) {
      max-width: 550px;
    }
  }

  &__headline {
    color: var(--headline-color);
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 700;
    margin-bottom: 1rem;

    @include bp.custom-media($breakpoint-desktop) {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  &__text {
    margin: 0 auto 1rem auto;
    font-size: 0.9rem;
    max-width: 400px;
    @include bp.custom-media($breakpoint-desktop) {
      margin: 2rem auto 2rem 0;
      margin-left: 0;
    }
  }

  &__container {
    @include bp.custom-media($breakpoint-desktop) {
      width: 50%;
    }
  }
}

// container for grey background
.grey_container {
  background-color: var(--grey-background);
  margin-top: 6rem;

  @include bp.custom-media($breakpoint-desktop) {
    margin-top: 4rem;
  }
}

// SEARCH - form with input
.search-area {
  padding: 1.1rem;
  background: $primary-violet url("images/bg-boost-mobile.svg") no-repeat;
  background-size: cover;
  border-radius: var(--border-radius-big);
  transform: translateY(-50%);
  @include bp.custom-media($breakpoint-desktop) {
    padding: 2rem;
  }
  &__form {
    @include bp.custom-media($breakpoint-desktop) {
      display: flex;
      align-items: start;
    }
  }

  &__input {
    width: 100%;
    border: none;
    font-size: 0.8rem;
    padding: 0.8rem;
    border-radius: var(--border-radius-small);
    margin-bottom: 0.3rem;
    @include bp.custom-media($breakpoint-desktop) {
      margin-bottom: 0;
      padding: 0.7rem;
    }
  }
  &__input-container {
    @include bp.custom-media($breakpoint-desktop) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  &--error &__input {
    outline: 3px solid var(--alert-color);
  }
  &__alert {
    font-size: 0;
    transition: font-size 1s;
  }
  &--error &__alert {
    color: var(--alert-color);
    font-size: 0.7rem;
    font-style: italic;
  }

  &__btn {
    @include card-btn;
    margin-top: 0.8rem;

    @include bp.custom-media($breakpoint-desktop) {
      width: 200px;
      margin-left: 1rem;
      margin-top: 0;
    }
  }
}

.link-card {
  background-color: white;
  margin: 1rem 0;
  border-radius: var(--border-radius-small);
  transition: transform 1s;
  transform: scale(0);

  &--visible {
    transform: scale(1);
  }

  @include bp.custom-media($breakpoint-desktop) {
    display: flex;
    align-items: center;
  }

  &__original {
    padding: 0.8rem;
    color: var(--headline-color);
    border-bottom: 2px solid var(--grey-background);

    @include bp.custom-media($breakpoint-desktop) {
      border: none;
      margin-right: auto;
    }
  }
  &__copy-btn {
    @include card-btn;
    transition: background-color 0.75s;

    @include bp.custom-media($breakpoint-desktop) {
      display: inline;
      width: 120px;
      margin-left: 1rem;
    }

    &--copied {
      background-color: $primary-violet;
    }
  }

  &__shorten {
    padding: 0.8rem;
    color: var(--btn-primary);
    line-height: 2.5rem;
  }

  &__container {
    margin-top: -4rem;

    @include bp.custom-media($breakpoint-desktop) {
      margin-top: -3rem;
    }
  }
}

.info-area {
  text-align: center;
  margin: 3rem;

  &__container {
    max-width: 600px;
    margin: 0 auto;
  }

  &__headline {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--headline-color);
    margin-bottom: 1rem;
  }

  &__text {
    line-height: 1.5rem;
  }
}

// 3 card next to each other, connected by cyan line
.card {
  background-color: white;
  margin: 5rem auto 0 auto;
  padding: 3rem 1.5rem 2rem 1.5rem;
  border-radius: var(--border-radius-small);
  text-align: center;
  position: relative;
  max-width: var(--content-width);

  @include bp.custom-media($breakpoint-desktop) {
    margin-top: 2rem;
    text-align: left;
  }

  &:first-child {
    margin-top: 2rem;
    @include bp.custom-media($breakpoint-desktop) {
      transform: translateY(-2rem);
    }
  }
  &:last-child {
    @include bp.custom-media($breakpoint-desktop) {
      transform: translateY(2rem);
    }
  }

  // line connecting cards
  &__connecting-line {
    &::before {
      content: "";
      border-left: 8px solid $primary-cyan;
      height: 5rem;
      position: absolute;
      bottom: 100%;
      left: calc(50% - 4px);
      @include bp.custom-media($breakpoint-desktop) {
        border-left: 0;
        border-top: 8px solid $primary-cyan;
        width: var(--card-gap);
        left: auto;
        right: 100%;
        top: 5rem;
      }
    }
    &::after {
      content: "";
      border-left: 8px solid $primary-cyan;
      height: 5rem;
      position: absolute;
      top: 100%;
      left: calc(50% - 4px);
      @include bp.custom-media($breakpoint-desktop) {
        border-left: 0;
        border-top: 8px solid $primary-cyan;
        width: var(--card-gap);
        left: 100%;
        top: 5rem;
      }
    }
  }

  &__group {
    padding: 2rem 0;

    @include bp.custom-media($breakpoint-desktop) {
      display: flex;
      gap: var(--card-gap);
      padding-bottom: 4rem;
    }
  }

  &__icon {
    background-color: var(--icon-background);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2rem;
    left: calc(50% - 2rem);
    @include bp.custom-media($breakpoint-desktop) {
      left: var(--card-gap);
    }
  }

  &__headline {
    color: var(--headline-color);
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
  }

  &__content {
    font-size: 0.9rem;
  }
}

.bottom-area {
  background: $primary-violet url("images/bg-boost-mobile.svg") no-repeat;
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include bp.custom-media($breakpoint-tablet) {
    background: $primary-violet url("images/bg-boost-desktop.svg") no-repeat;
    background-size: cover;
    height: 250px;
  }

  &__headline {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding-bottom: 1rem;
  }
}

.btn {
  border: none;
  padding: 0.7rem 2.5rem;
  border-radius: 1.3rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;

  &--primary {
    background-color: $primary-cyan;
    color: white;
  }
  &:hover {
    background-color: var(--btn-hover);
    transform: translateY(2px);
  }
}

.footer {
  background-color: $neutral-darker;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 2rem 0;

  @include bp.custom-media($breakpoint-desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    align-items: flex-start;
  }

  &__logo {
    fill: white;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__socials {
    fill: white;
    display: flex;
    gap: 1rem;
  }
  &__icon {
    width: 1.1rem;
    height: 1.1rem;
    &:hover {
      fill: var(--btn-primary);
      cursor: pointer;
    }
  }
}

// footer area - 3 columns with links
.link {
  &__headline {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
    @include bp.custom-media($breakpoint-tablet) {
      text-align: left;
    }
  }
  &__item {
    text-align: center;
    cursor: pointer;
    margin-bottom: 0.5rem;

    &:hover {
      color: var(--btn-primary);
    }

    @include bp.custom-media($breakpoint-tablet) {
      text-align: left;
    }
  }
  &__group {
    margin-bottom: 2rem;
  }

  &__tablet-group {
    @include bp.custom-media($breakpoint-tablet) {
      display: flex;
      gap: 2.5rem;
    }
  }
}

// utility
.w-100 {
  width: 100%;
}

.general-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}
