// GLOBAL VARIABLES

//COLORS
$primary-color: hsl(26, 100%, 55%);
$primary-color-light: hsl(25, 100%, 94%);

$color-dark-blue: hsl(220, 13%, 13%);
$color-grey: hsl(219, 9%, 45%);
$color-grey2: hsl(220, 14%, 75%);
$color-grey3: hsl(223, 64%, 98%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

// FONT
$font-size: 16px;
$font-family: "Kumbh Sans", sans-serif;

$border-radius: 0.5rem;
